# Prevent.vs directory
.vs/
# Prevent default VS build dir
out/
# Prevent default CMake command line build dir
build/
# Prevent default CMake command line build dir
${workspaceFolder}/build/
# Prevent imui.ini
imgui.ini